<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello {{ uname }}!</h1>
<img src="/media/{{ photo }}" style="width: 100px; height: 100px; object-fit: cover;">
{% if block and neighbor %}
    <h2>You are currently in the block <a href="/block/{{ blockid }}/">{{ block }}</a> and in the neighborhood <a href="/neighbor/{{ nid }}/">{{ neighbor }}</a>.</h2>
{% else %}
    <h2>You are currently not a member of any block. Please apply for one block!</h2>
{%  endif %}
<p1><a href="/profile/{{ uid }}/">Profile</a></p1><br>
<p1><a href="/apply/">Apply</a></p1><br>
<p1><a href="/follow/">Followed Blocks</a></p1><br>
<p1><a href="/relation/">Relationship</a></p1><br>
<p1><a href="/view_message/">View Messages</a></p1><br>
<p1><a href="/send_message/">Send Messages</a></p1><br>

<h1>Session Information</h1>
<p>User ID: {{ uid }}</p>
<form action="/logout/" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</body>
</html>