<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div id="ViewProfile" style="display: block;">
    <h1>Username: {{ uname }}</h1>
    <img src="/media/{{ photo }}" alt="User Photo" style="width: 100px; height: 100px; object-fit: cover;">
{#    <p>Photo: {{ photo }}</p>#}
    <p>First Name: {{ first_name }}</p>
    <p>Last Name: {{ last_name }}</p>
    <p>Email: {{ email }}</p>
    <p>Address Latitude: {{ latitude }}</p>
    <p>Address Longitude: {{ longitude }}</p>
    {% if blockid %}
        <p>Block: <a href="/block/{{ blockid }}/">{{ block }}</a> starting from {{ membership_date }}</p>
    {% else %}
        <p>This user has no block yet. </p>
    {% endif %}
    <p>Introduce yourself: {{ introduction }}</p>
    {% if uid == session_uid %}
        <button onclick="editProfile()">Edit</button>
        <form action="/address/" method="get">
            <button type="submit">Change Address</button>
    </form>
    {% endif %}
    {% if uid != session_uid %}
        {% if neighbor_relation is None %}
            <form action="/neighbor_relation/" method="post">
                {% csrf_token %}
                <input type="hidden" name="neighbor_relation" value='neighbor'>
                <input type="hidden" name="touid" value={{ uid }}>
                <button type="submit">Neighbor</button>
            </form>
        {% else %}
            <h3>This person is your neighbor!</h3>
        {% endif %}

        {% if you_are_waiting_to_this_user %}
            <h3>This user is processing your friend application.</h3>
        {% elif this_user_is_waiting_to_you %}
            <h3>This user is waiting for you to approve friend application.</h3>
        {% elif you_and_this_user_are_friends %}
            <h3>This person is your friend!</h3>
        {% else %}
            <form action="/friend_relation/" method="post">
                {% csrf_token %}
                <input type="hidden" name="friend_relation" value='friend'>
                <input type="hidden" name="touid" value={{ uid }}>
                <button type="submit">Friend</button>
            </form>
        {% endif %}
    {% endif %}
        <form action="/" method="get">
            <button type="submit">Back to home</button>
        </form>
{% if error_message %}
<div>{{ error_message }}</div>
{% endif %}
</div>
<div id="EditProfile" style="display: none;">
    <form id="editprofile" action="/profile/{{ uid }}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Username:</label><input type="text" name='uname' value="{{ uname }}"><br>
        <label>First Name:</label><input type="text" name='first_name' value="{{ first_name }}"><br>
        <label>Last Name:</label><input type="text" name='last_name' value="{{ last_name }}"><br>
        <label>Email:</label><input type="email" name='email' value="{{ email }}"><br>
        <label>Introduce Yourself:</label><textarea name="introduction">{{ introduction }}</textarea><br>
        <label>Upload Photo:</label><input type="file" name="photo"><br>
        <button onclick="viewProfile()">Save</button>
    </form>
    <form action="/profile/{{ uid }}/" method="get">
        <button type="submit">Back</button>
    </form>
</div>
<script>
    function editProfile() {
        document.getElementById('ViewProfile').style.display = 'none';
        document.getElementById('EditProfile').style.display = 'block';
    }

    function viewProfile() {
        document.getElementById('editprofile').submit();
        document.getElementById('ViewProfile').style.display = 'block';
        document.getElementById('EditProfile').style.display = 'none';
    }
</script>
</body>
</html>