<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Message</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Send Messages:</h1>
<form action="/send_message/" method="post">
    {% csrf_token %}
    <input type="hidden" name="bid" value={{ bid }}>
    <input type="hidden" name="nid" value={{ nid }}>
    <label>Subject: </label><input type="text" name="subject" required><br>
    <label>Body:</label><textarea name="body" style="resize: none; width: 500px; height: 100px;" required></textarea><br>
    <label>Latitude:</label><input type="text" id="latitude" name="latitude"><br>
    <label>Longitude:</label><input type="text" id="longitude" name="longitude"><br>
    <div id="map"></div>
    <script>
        var map = L.map('map');

        var currentPositionMarker = null;

        // Set up the tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function onMapClick(e) {
            // Clear existing marker
            if (window.marker) map.removeLayer(window.marker);

            if (currentPositionMarker) {
                map.removeLayer(currentPositionMarker);
                currentPositionMarker = null;  // Reset the marker variable
            }

            // Add a marker to show where you clicked
            window.marker = L.marker(e.latlng).addTo(map);

            // Update the latitude and longitude
            document.getElementById('latitude').value = e.latlng.lat.toFixed(6);
            document.getElementById('longitude').value = e.latlng.lng.toFixed(6);
        }

        map.on('click', onMapClick);

        // Check if geolocation is supported and ask for the user's location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var currentPos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                // Set the view to the current position with an appropriate zoom level
                map.setView(currentPos, 13);

                // Optionally, add a marker on the user's current position
                currentPositionMarker = L.marker(currentPos).addTo(map).bindPopup('You are here').openPopup();
                document.getElementById('latitude').value = currentPos.lat.toFixed(6);
                document.getElementById('longitude').value = currentPos.lng.toFixed(6);
            }, function() {
                // If there is an error, or the user denies the location request
                alert('Unable to retrieve your location');
                // Set a default position
                map.setView([51.505, -0.09], 13);
            });
        } else {
            // If Geolocation is not supported by this browser
            alert('Geolocation is not supported by your browser');
            // Set a default position
            map.setView([51.505, -0.09], 13);
        }
    </script>
    <select name="userid">
        <option value="">Please select a receiver</option>
        {% for userid, username in friends_and_neighbors %}
            <option value="{{ userid }}">{{ username }}(Friend and neighbor)</option>
        {% endfor %}
        {% for userid, username in just_neighbors %}
            <option value="{{ userid }}">{{ username }}(Neighbor)</option>
        {% endfor %}
        {% for userid, username in just_friends %}
            <option value="{{ userid }}">{{ username }}(Friend)</option>
        {% endfor %}
    </select><br>
    {% if bid %}
        <input type="checkbox" id="send_to_block" name="send_to_block" value="send_to_block">
        <label for="send_to_block">Send to block</label><br>
        <input type="checkbox" id="send_to_neighborhood" name="send_to_neighborhood" value="send_to_neighborhood">
        <label for="send_to_neighborhood">Send to neighborhood</label><br>
    {% endif %}
    <button type="submit">Send</button>
</form>
{% if error_message %}
<h1>{{ error_message }}</h1>
{% endif %}
<form action="/" method="get">
    <button type="submit">Back to home</button>
</form>
</body>
</html>